{
  "presets": [
    "@emotion/babel-preset-css-prop",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      },
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-jsx",
    "emotion"
  ]
}
